<!doctype html>

<html ng-app="app">
    
<head>
    <meta charset="utf-8">
    <title>ViewResults</title>
    <link href="../../css/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="src/angular.min.js"></script>
    <script src="src/script.js"></script>
</head>

<body >
    <div ng-controller="mainCtrl">

        <!-- non keyed results -->
        <div class="page-header">
            <div class="jumbotron">
                <h2>Benchmark's non-keyed results:</h2>
            </div>
        </div>

         <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="data in results.data | groupByFramework_nonk">
                        {{data.key}}
                    </th>
                </tr>
            </thead>
             <tbody>
                 <tr ng-repeat="data in results.data | groupByBenchmark_nonk ">
                    <td class="bench">{{data.key}}</td>
                    <td ng-repeat="item in data.value | orderBy:'framework_index'" ng-class="evalClassName(item.results.total_factor)">
                        {{item.results.total_factor | number:2}}
                    </td>
                 </tr>
             </tbody>
         </table>


         <!-- keyed results -->
         <div class="page-header">
            <div class="jumbotron">
                <h2>Benchmark's keyed results:</h2>
            </div>
        </div>

         <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="data in results.data | groupByFramework_keyed">
                        {{data.key}}
                    </th>
                </tr>
            </thead>
             <tbody>
                 <tr ng-repeat="data in results.data | groupByBenchmark_keyed ">
                    <td class="bench">{{data.key}}</td>
                    <td ng-repeat="item in data.value | orderBy:'framework_index'" ng-class="evalClassName(item.results.total_factor)">
                        {{item.results.total_factor | number:2}}
                    </td>
                 </tr>
             </tbody>
         </table>
        
    </div>
</body>

</html>