<ng-include src="'src/views/keyed-header.html'"></ng-include>

<div ng-show="flags.showKeyed">
	<ng-include src="'src/views/keyed-detailed-header.html'"></ng-include>
	<ng-include src="'src/views/keyed-detailed-view.html'"></ng-include>

	<ng-include src="'src/views/keyed-general-header.html'"></ng-include>
	<ng-include src="'src/views/keyed-general-view.html'"></ng-include>

	<ng-include src="'src/views/keyed-memory-header.html'"></ng-include>
	<ng-include src="'src/views/keyed-memory-view.html'"></ng-include>
</div>