 <table class="table-results" ng-show="flags.showDetailedKeyed">
    <thead>
        <tr>
            <th ng-hide="(results.data | groupByFramework_keyed).length === 0">benchmark</th>
            <th ng-repeat="data in results.data | groupByFramework_keyed">
                {{data.key}}
            </th>
        </tr>
    </thead>
     <tbody>
         <tr ng-repeat="data in results.data | groupByBenchmark_keyed:true:0:false | orderBy:'sort_index'">

            <td class="bench">
                <div class="bold">{{data.key}}</div>
                <div class="description"> ( {{data.bench_descr || '-'}} ) </div>
            </td>
            <td ng-repeat="item in data.value | orderBy:'framework_index'">


                <div class="cell-data event">
                    <div class="cell-data-header">scrpt</div>

                    <div ng-hide="item.results.event === 0">
                        <div>{{item.results.event | number:2}} </div>
                        <div>&plusmn; {{item.results.event_stdev | number:2}} </div>
                        <div>({{item.results.event_factor | number:2}}) </div>
                    </div>
                    <div ng-show="item.results.event === 0" class="max-height">
                       <div class="center">0</div>
                    </div>
                </div>

                <div class="cell-data event">
                    <div class="cell-data-header">[GC]</div>

                    <div ng-hide="item.results.gc === 0">
                        <div>{{item.results.gc | number:2}} </div>
                        <div>&plusmn; {{item.results.gc_stdev | number:2}} </div>
                        <div>({{item.results.gc_factor | number:2}}) </div>
                    </div>
                    <div ng-show="item.results.gc === 0" class="max-height">
                       <div class="center">0</div>
                    </div>
                </div>
                
                
                <div class="cell-data render">
                    <div class="cell-data-header">recalc</div>

                    <div ng-hide="item.results.recalc === 0">
                        <div>{{item.results.recalc | number:2}} </div>
                        <div>&plusmn; {{item.results.recalc_stdev | number:2}} </div>
                        <div>({{item.results.recalc_factor | number:2}}) </div>
                    </div>
                    <div ng-show="item.results.recalc === 0" class="max-height">
                       <div class="center">0</div>
                    </div>
                </div>

                <div class="cell-data render">
                    <div class="cell-data-header">layout</div>

                    <div ng-hide="item.results.layout === 0">
                       <div>{{item.results.layout | number:2}} </div>
                        <div>&plusmn; {{item.results.layout_stdev | number:2}} </div>
                        <div>({{item.results.layout_factor | number:2}}) </div>
                    </div>
                    <div ng-show="item.results.layout === 0" class="max-height">
                       <div class="center">0</div>
                    </div>
                </div>

                <div class="cell-data render">
                    <div class="cell-data-header">update</div>
                    <div>{{item.results.update | number:2}} </div>
                    <div>&plusmn; {{item.results.update_stdev | number:2}} </div>
                    <div>({{item.results.update_factor | number:2}}) </div>
                </div>

                <div class="cell-data paint">
                    <div class="cell-data-header">paint</div>
                    <div>{{item.results.paint | number:2}} </div>
                    <div>&plusmn; {{item.results.paint_stdev | number:2}} </div>
                    <div>({{item.results.paint_factor | number:2}}) </div>
                </div>

                <div class="cell-data total">
                    <div class="cell-data-header">frame</div>
                    <div>{{item.results.total | number:2}} </div>
                    <div>&plusmn; {{item.results.total_stdev | number:2}} </div>
                    <div>({{item.results.total_factor | number:2}}) </div>
                </div>

            </td>
         </tr>
     </tbody>
 </table>