<ng-include src="'src/views/nonk-header.html'"></ng-include>

<div ng-show="flags.showNonk">
    <ng-include src="'src/views/nonk-detailed-header.html'"></ng-include>
    <ng-include src="'src/views/nonk-detailed-view.html'"></ng-include>

    <ng-include src="'src/views/nonk-general-header.html'"></ng-include>
    <ng-include src="'src/views/nonk-general-view.html'"></ng-include>

    <ng-include src="'src/views/nonk-memory-header.html'"></ng-include>
    <ng-include src="'src/views/nonk-memory-view.html'"></ng-include>
</div>